<!DOCTYPE html>
    <head>
        <%- include ('../partials/head.ejs')%>
    </head>

    <body>

        <%- include ('../partials/headers/header-desktop-logo.ejs') %>

        <%-html%>


    </body>
</html>
