<!DOCTYPE html>
    <head>
        <%- include ('../partials/head.ejs')%>
    </head>

    <body>
        <header>
            <%- include ('../partials/header.ejs') %>
        </header>

        <h1>Posts</h1>
    </body>
</html>
