<!DOCTYPE html>

<head>
        <%- include ('../partials/head.ejs')%>
</head>

<body>
        <!-- HEADER -->
        <%- include ('../partials/headers/header-desktop-logo.ejs') %>
        <%- include ('../partials/headers/header-mobile-logo.ejs') %>

        <%- include ('../partials/page-content/weeklynerd-content.ejs') %>

</body>
</html>

