<nav>
    <ul>
        <li>
            <a href="/"><img src="" alt="" />Home</a>
        </li>
        <li><a href="/weeklynerd">Weekly Nerd</a></li>
        <li><a href="/posts">Blog posts</a></li>
        <li><a href="/about">About</a></li>
        <div>
            <a href=""><i></i></a>
            <a href=""><i></i></a>
        </div>
    </ul>
</nav>
