<header id="header__desktop_logo">
    <nav>
        <ul>
            <li><a href="/">TITLE</a></li>
            <li><a href="/weeklynerd">Weekly Nerd</a></li>
            <li><a href="/posts">Blog posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <ul>
            <i class="fa-brands fa-github"></i>
            <div class="toggle-switch">
                <label class="switch-label">
                    <input type="checkbox" class="checkbox" />
                    <span class="slider"></span>
                </label>
            </div>
        </ul>
    </nav>
</header>
