<header id="header__mobile_logo">
    <nav>
        <ul>
            <li><a href="/">TITLE</a></li>
        </ul>

        <ul>
            <i class="fa-brands fa-github"></i>
            <i class="fa-solid fa-moon"></i>
        </ul>
    </nav>
</header>
