<main>
    <section id="container">
        <h1>Weekly Nerd</h1>
        <p>
            Usually on every wednesday we have the pleasure of following a
            lecture from different developers and experts in the field. These
            people have insights to offer that I, as a student, value and want
            to reflect on for future reference. This is that.
        </p>
    </section>

    <section>
        <h2 style="margin-top: 3em">Select .. or Search</h2>
        <p>TBA.</p>
        <a style="display: block" href="/weeklynerd/jeremykeith"
            >Jeremy Keith: Adactio & Clearleft</a
        >
        <a href="/weeklynerd/digitaaltoegankelijk"
            >Pim en Marieke: Digitaal Toegankelijk</a
        >
        <!-- TODO: Generate tags based off tags I give to each post -->
        <!-- TODO: Search functionality -->
        <!-- TODO: If amount of tags surpasses XYZ, add 'see more..' -->
    </section>
</main>
